<h1>Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task)  %> -
        <%= task.details %> -
        <%= link_to 'Delete',
                    task_path(task),
                    method: :delete,
                    data: { confirm: 'Are you sure?'} %>
    </li>
  <% end %>
</ul>

<p><%= link_to 'Add a new task', new_task_path %></p>
